target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties

*.log
logs/

.idea/
*.iml
*.iws
.project
.classpath
.settings/
.vscode/

*.jar
*.war
*.ear
